extends layout

block content
  div.wrapper.modal
    div.wrapper.blurrer
    div.wrapper.message
      div.wrapper.row
	    p I am a transparent blurry modal box which can adapt to any screen size, I'm very cool!