div.blur.row
      div
        a(href='/signup/1').btn.btn-default.btn-blue.col-sm-2 Signup
        p.col-sm-8.donation-total #[span.orange 1,290] active players raised#[br]#[span.donation-amount $192,281]
        a(href='#', data-toggle="modal", data-target="#donateModal").btn.btn-success.col-sm-2 Donate
        
div(role="dialog")#createTournamentModal.modal.fade
        .modal-dialog
                .modal-content
                      form(action="/dev/create_tournament" method="post" id="mainform")
                        .modal-header
                                button(type="button", data-dismiss="modal").close &times;
                                h4.modal-title Create Tournament
                        .modal-body
                                .form-group
                                     label Name:
                                     input(type="text" name="tournament_name").form-control
                                 .form-group
                                     label Number of teams:
                                     .dropdown
                                       button(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="true").btn.btn-default.dropdown-toggle 8
                                         span.caret
                                       ul(aria-labelledby="dropdownMenu1").dropdown-menu
                                        li
                                            a(href='#') 2
                                        li
                                            a(href='#') 4
                                        li
                                            a(href='#') 8
                                  .form-group
                                        label Start date
                                    .form-group
                                        label Donation
                                        input(id="money", name="donation", type="text", data-slider-id='moneySlider' data-slider-min="1" data-slider-max="500" data-slider-step="1" data-slider-value="250", data-slider-tooltip='always' data-slider-tooltip-position='bottom' data-slider-handle='custom' data-slider-ticks="[0, 500]" data-slider-ticks-labels='["$1", "$500"]').money.form-control
                        .modal-footer
                          .charity-modal-footer
                                button(type="submit", form="mainform").btn.btn-success.btn-sm Create
                                
div(role="dialog")#createTeamModal.modal.fade
        .modal-dialog
                .modal-content
                        .modal-header
                                button(type="button", data-dismiss="modal").close &times;
                                h4.modal-title Create new team
                        .modal-body
                                .form-group.center.team-create-image
                                     img(src='/images/936.png')
                                     p click on the image to change
                                 .form-group
                                    label Name
                                    input(type="text").form-control
                                .form-group
                                    label Invite players
                                    input(type="text").form-control
                                 .form-group
                                     label Organization
                                     .dropdown
                                       button(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="true").btn.btn-default.dropdown-toggle Charity Water
                                         span.caret
                                       ul(aria-labelledby="dropdownMenu1").dropdown-menu
                                        li
                                          a(href='#') Charity Water
                        .modal-footer
                          .charity-modal-footer
                                button(type="button", data-dismiss="modal").btn.btn-success.btn-sm Create
                                button(type="submit", form="mainform").btn.btn-success.btn-sm Create
                                
div(role="dialog")#donateModal.modal.fade
        .modal-dialog
                .modal-content
                        form(action="/dev/create_tournament" method="post" id="mainform")
                        .modal-header-green
                                button(type="button", data-dismiss="modal").close &times;
                                h4.modal-title Donation
                        .modal-body
                                .form-group
                                    label Fighting for:
                                    input(type="text" name="charity_org", value="Charity: water", disabled).form-control
                                .form-group
                                    label Tournament for:
                                    input(type="text" name="charity_org", value=" Water cup", disabled).form-control
                                .form-group
                                    label Start date:
                                    .form-inline.form-group
                                      input(type="text" name="charity_org", value="11/14/2015 Saturday", disabled).form-control
                                      label.default-margin-left.center
                                         input(type="checkbox" name="notify_me").form-control
                                         label.default-margin-left.center Notify me
                                .form-group
                                    label Donation
                                    input(id="donateslider", name="donation", type="text", data-slider-id='donate_slider' data-slider-min="1" data-slider-max="500" data-slider-step="1" data-slider-value="250", data-slider-tooltip='always' data-slider-tooltip-position='bottom' data-slider-handle='custom' data-slider-ticks="[0, 500]" data-slider-ticks-labels='["$1", "$500"]').money.form-control
                        .modal-footer
                          .charity-modal-footer
                                button(type="button", data-dismiss="modal").btn.btn-success.btn-sm Donation
    
    script(src='/scripts/create.tournament.modal.js')
