extends layout

block link
    -var selected = 'Highscore';

block content
    div.donation-bar
        img(src='/images/main-hero.jpg')
        include donation-bar.jade
    div.wrapper.container.tournament-browse.center
        div.row.tournament-browse-name
            img(src='/images/pixel_star.png')
            h2 HIGHSCORE
        .row
            .col-sm-6
                .row
                    h3.col-sm-12.orange PLAYERS
                .row.grid-headers
                    h4.col-sm-4 PLACE
                    h4.col-sm-4 NAME
                    h4.col-sm-4 SCORE
                .row.highscore-item
                    p.col-sm-4.gold 1st
                    p.col-sm-4 Smeb
                    p.col-sm-4 $1,981
                .row.highscore-item
                    p.col-sm-4.silver 2nd
                    p.col-sm-4 Hojin
                    p.col-sm-4 $1,044
                .row.highscore-item
                    p.col-sm-4.bronze 3rd
                    p.col-sm-4 Faker
                    p.col-sm-4 $784
            .col-sm-6
                .row
                    h3.col-sm-12.orange TEAMS
                .row.grid-headers
                    h4.col-sm-4 PLACE
                    h4.col-sm-4 NAME
                    h4.col-sm-4 SCORE
                .row.highscore-item
                    p.col-sm-4.gold 1st
                    p.col-sm-4 TSM
                    p.col-sm-4 $39,160
                .row.highscore-item
                    p.col-sm-4.silver 2nd
                    p.col-sm-4 FNATIC
                    p.col-sm-4 $34,333
                .row.highscore-item
                    p.col-sm-4.bronze 3rd
                    p.col-sm-4 CLG
                    p.col-sm-4 $22,165
                
  