extends layout

block link
    -var selected = 'Why?';

block content
  div.wrapper.hero
    img(src='/images/main-hero.jpg').hero-image
    include donation-bar.jade
  div.container.main-content
    h1 Why?
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et molestie dolor. Fusce ornare aliquam tristique. Suspendisse odio diam, tempor in laoreet vel, pretium feugiat leo. Aenean quis facilisis quam. Integer nulla nunc, tempor a libero quis, feugiat ultricies lacus. Phasellus fringilla mauris et mi dignissim vulputate at sit amet est
    h1 How does it work?
    div.row.how-work
      .how-work-visual
      .col.col-sm-3
        img(src='/images/pixel_pencil.png')
        p signup & verify#[br]your Account
      .col.col-sm-3
        img(src='/images/pixel_riven.png')
        p join or create#[br]a team
      .col.col-sm-3
        img(src='/images/pixel_sword.png')
        p donate & compete#[br]in tournaments
      .col.col-sm-3
        img(src='/images/pixel_coin.png')
        p WIN prizes & raise#[br]money for charity