doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-slider.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-slider.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.bracket.min.css')
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='/scripts/jquery.bracket.min.js')
  body
    block link
        -var selected = 'Why?'; //default
    -var menu = { 'Why?': '/', 'Organizations': '/organization/1', 'Highscore': '/highscore' , 'Teams': '/teams','Tournaments': '/tournaments' };
    nav.navbar.navbar-default.navbar-fixed-top
      div
        div.navbar-header
          a(href='/').pull-left.nav-logo
            img(src='/images/logo.png')
          a(href='#').navbar-brand insert#[span.orange coin].org#[br]#[span.subhead Compete for Charity]
        div#navbar
          ul.nav.navbar-nav.navbar-center
            each val, key in menu
                if selected === key
                    li.active
                        a(href=val, title=key)= key
                else
                    li
                        a(href=val, title=key)= key
          a(href='#', data-toggle="modal", data-target="#createTournamentModal").btn.btn-default.btn-orange Create Tournament
          ul.nav.navbar-nav.navbar-right
            li 
              a(href='#')
                img(src='/images/reddit_button.png')
              a(href='#')
                img(src='/images/twitter_button.png')
              a(href='#')
                img(src='/images/facebook_button.png')
              p share now
    block content
    
    script(src='/scripts/bootstrap-slider.min.js')
    script(src='/scripts/blur.js')
    script(src='/scripts/jquery.oblurlay.min.js')
    script(src='/scripts/main.js')
