extends layout

block link
    -var selected = 'Organizations';

block content
    div.wrapper.organization
        img(src='/images/organization-demo.jpg').hero-image
        include donation-bar.jade
        div.org-funds.row
            img(src='/images/charity_water.png')
            p.col-sm-12.donation-total #[span.donation-amount $63,163]
    div.container.main-content
        h1 Organizations
        p charity: water is a non-profit organization bringing clean and safe drinking water to people in developing nations.
        p It's hard not to think about water today. In the western world, we face growing concerns about our stewardship of the world's most precious resource. There's talk of shortages, evidence of reservoirs and aquifers drying up, and of course, plenty of people who simply don't care.
        p But forget about us.
        p Now, make a decision to help. We're not offering grand solutions and billion dollar schemes, but instead, simple things that work. Things like freshwater wells, rainwater catchments and sand filters.
        p #[strong.green Support your favourite team so that we can help millions getting clean water.]