extends layout

block link
    -var selected = 'Organizations';

block content
  .row
    .col-sm-2
    .col-sm-8
      each organization in organizations_array
        h1 #{organization["name"]}
        h3
          a(href='#{organization["website"]}') #{organization["website"]}
        h3 #{organization["description"]}
    .col-sm-2