extends layout

block content
    div.donation-bar
        img(src='/images/main-hero.jpg')
        include donation-bar.jade
    div.wrapper.container.team-information
        div.row
            img(src='http://loljustice.com.br/wp-content/uploads/2015/10/koo-tigers-icon-finals.png').col-sm-12.team-logo
        div.row.team-name
            h2 mort3m (EUW)
            img(src='#')
            img(src='#')
            img(src='#')
        div.wrapper.container.team-details
            div.row.team-money
                h3 Money Raised
                p.donation-amount $2,931.45
            div.row
                h3 Teams
            .row.grid-headers
                h4.col-sm-3 Name
                h4.col-sm-3 Division
                h4.col-sm-3 Money Raised
                h4.col-sm-3 Fighting For
            .row.team-roster-entry
                .col-sm-3
                    img(src='#').img-profile
                    | KOO Tigers
                .col-sm-3
                    img(src='/images/leagues/diamond.png')
                .col-sm-3
                    span $731.81
                .col-sm-3 Charity Water
            .row.team-roster-entry
                .col-sm-3
                    img(src='#').img-profile
                    | TSM
                .col-sm-3
                    img(src='/images/leagues/challenger.png')
                .col-sm-3
                    span $731.81
                .col-sm-3 Children's Miracle Network
            .row.team-history
                h3 Tournament History
            .row.grid-headers
                h4.col-sm-3 Name
                h4.col-sm-3 Team Name
                h4.col-sm-3 Money Raised
                h4.col-sm-3 Place
            .row.tournament-history-item
                .col-sm-3
                    span Fire Cup 2014
                .col-sm-3
                    img(src='#')
                    | ABC
                .col-sm-3
                    span $90.55
                .col-sm-3
                    span.gold 1st