extends layout

block content
    div.donation-bar
        img(src='/images/main-hero.jpg')
        include donation-bar.jade
    if step == 1
        form(method='post' action='/signup/2' id='signupform')
            .wrapper.container.signup-form
                img(src='/images/signup_step_1.png')
                .signup-form-header Basic Information
                .signup-form-container
                    .form-group
                        label Summoner name:
                        input(type="text" name="summoner_name").form-control
                    .form-group
                        label Email:
                        input(type="email").form-control
                    .form-group
                        label Password:
                        input(type="password").form-control
                    .form-group
                         label Region:
                         .dropdown
                           button(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="true").btn.btn-default.dropdown-toggle EUW
                             span.caret
                           ul(aria-labelledby="dropdownMenu1").dropdown-menu
                            li
                              a(href='#') EUW
                            li
                              a(href='#') NA
                  .form-group
                        button.btn.btn-form(type='submit' form='signupform') Next &gt;
    else if step == 2
        form(method='post' action='/signup/3' id='signupform')
            input(type='hidden' name='summoner_name' value='#{summoner_name}')
            .wrapper.container.signup-form
                img(src='/images/signup_step_2.png')
                .signup-form-header Verify Account
                .signup-form-container.center
                    .form-group
                        img(src='/images/936.png')
                        h4 #{summoner_name} (EUW)
                    .form-group
                        p Please rename one of#[br]your mastery pages to
                        input(type="text" value="271541221" disabled).form-control.center
                        p #[br]and press Next.
                  .form-group
                        button.btn.btn-form(type='submit' form='signupform') Next &gt;
    else
        .wrapper.container.signup-form
            img(src='/images/signup_step_3.png')
            .signup-form-header Verified Account
            .signup-form-container.center
                .form-group
                    img(src='/images/936.png')
                    h4 Welcome, #{summoner_name} (EUW)
                    h3 Thanks for joining us!
                .form-group
                    label In order to compete you#[br]have to #[span.orange join] or #[span.orange create]#[br]a team.
              .form-group
                    a(href='/').btn.btn-form Finish