extends layout

block link
    -var selected = 'Teams';

block content
    div.donation-bar
        img(src='/images/main-hero.jpg')
        include donation-bar.jade
    div.wrapper.container.tournament-browse.center
        div.row.tournament-browse-name
            img(src='/images/heart_cup.png')
            h2 Browse Teams
        .row.grid-headers
            .col-sm-2
            h4.col-sm-1
            h4.col-sm-3 Name
            h4.col-sm-2 Region
            h4.col-sm-2 Donated
        each team in team_array
          .row.tournament-browse-entry
                .col-sm-2
                .col-sm-1
                    img.team_avatar(src='#{team.logo_path}')
                .col-sm-3
                    a(href='/team/#{team.team_id}') #{team.name}
                .col-sm-2 #{team.region.toUpperCase()}
                .col-sm-2 $#{team.team_payout.toFixed(2)}