extends layout

block link
    -var selected = 'Teams';

block content
    div.donation-bar
        img(src='/images/main-hero.jpg')
        include donation-bar.jade
    div.wrapper.container.team-information
        div
            img(src='#{team_data.team_logo_path}').team-logo
        div.row.team-name
            h2 #{team_data.team_name} (#{team_data.region.toUpperCase()})
            p fighting for #[span.orange #{team_data.org_name}]
        div.wrapper.container.team-details
            div.row.team-money
                h3 Money Raised
                p.donation-amount $#{team_data.payout_amount > 0 ? team_data.payout_amount.toFixed(2) : '0.00'}
            div.row
                h3 Roster
            .row.grid-headers
                .col-sm-4
                h4.col-sm-2 Name
                h4.col-sm-2 Social
            each player in team_players
                .row.team-roster-entry
                    .col-sm-4
                    .col-sm-2 #{player.username}
                    .col-sm-2
                        a(href='#')
                            img(class='team-social' src='/images/reddit_button.png')
                        a(href='#')
                            img(class='team-social' src='/images/twitter_button.png')
                        a(href='#')
                            img(class='team-social' src='/images/facebook_button.png')
            .row.team-history
                h3 Tournament History
            .row.grid-headers
                h4.col-sm-4 Name
                h4.col-sm-4 Money Raised
                h4.col-sm-4 Place
            .row.tournament-history-item
                .col-sm-4
                    span Fire Cup 2014
                .col-sm-4
                    span $1498.55
                .col-sm-4
                    span.gold 1st
            .row.tournament-history-item
                .col-sm-4
                    span Ice Cup 2014
                .col-sm-4
                    span $3911.25
                .col-sm-4
                    span.silver 2nd
            .row.tournament-history-item
                .col-sm-4
                    span Cup of Life 2014
                .col-sm-4
                    span $1093.32
                .col-sm-4
                    span.bronze 3rd