html
  head
    script(type="text/javascript", src="https://code.jquery.com/jquery-1.8b2.min.js")
    script(type="text/javascript", src="/javascripts/jquery.gracket.min.js")

    style(type="text/css").
      /* formatting page */
      .wrapper { margin: 0; width: 100%; overflow: hidden; border-radius: 0 5px 5px 5px; }

      /* theme */
      .g_gracket { width: 9999px; background-color: #fff; padding: 55px 15px 5px; line-height: 100%; position: relative; overflow: hidden;}
      .g_round { float: left; margin-right: 70px; }
      .g_game { position: relative; margin-bottom: 15px; box-shadow: 3px 4px 0px #ddd; border: 1px solid #fff; border-top: 0; border-left: 0; }
      .g_gracket h3 { min-width: 180px; margin: 0; padding: 10px 8px 8px; font-size: 18px; font-weight: normal; color: #fff} /* @note: this width determinds node size */
      .g_team { background: #3597AE; }
      .g_round_label { top: -5px; font-weight: normal; color: #ccc; text-align: center; font-size: 18px}
      .g_team:last-child {  background: #FCB821; }
      .g_round:last-child { margin-right: 20px; }
      .g_winner { background: #444; }
      .g_winner .g_team { background: none; }
      .g_current { cursor: pointer; background: #A0B43C!important; }

      /* custom colors*/
      .g_team_custom { background: #444; border-radius: 50px 50px 0 0; }
      .g_team_custom:last-child {  background: #777; border-radius: 0 0 50px 50px; }
      .g_winner_custom .g_team_custom { background: none; border-radius: 50px; }
      .g_winner_custom { background: #444; border-radius: 50px; }
      .g_current_custom { cursor: pointer; background: #900!important; }
      .g_gracket .g_team_custom h3 { font-weight: bold; padding: 30px; text-shadow: 0 2px 1px #222222; text-transform: uppercase; }
      .g_game_custom { position: relative; margin-bottom: 15px; }

      /* secondary-bracket */
      .container-secondary { position: relative; overflow: hidden; }
      .secondary-bracket { bottom: 40px; left: 802px; position: absolute; width: 500px; }
      .container-secondary h4 { color: #CCCCCC; font-weight: normal; left: 0; margin: 0; padding: 0; position: absolute; bottom: 55px; z-index: 9999; }
      .secondary-bracket .g_round_label { top: -25px; }
      .secondary-bracket > div { padding-top: 35px;}

  body
    .wrapper.
      <div data-gracket='[
          [
            [ {"name" : "jQuery", "id" : "jquery", "seed" : 1}, {"name" : "MooTools", "id" : "mootools", "seed" : 5} ],
            [ {"name" : "extjs", "id" : "extjs", "seed" : 10}, {"name" : "jqueryui", "id" : "jqueryui", "seed" : 14} ]
          ],
          [
            [ {"name" : "jQuery", "id" : "jquery", "seed" : 1}, {"name" : "extjs", "id" : "extjs", "seed" : 10} ]
          ],
          [
            [ {"name" : "jQuery", "id" : "jquery", "seed" : 1} ]
          ]
        ]'></div>

    script(type="text/javascript").
      $("[data-gracket]").eq(0).gracket();
