extends layout

block link
    -var selected = 'Tournaments';

block content
  div.donation-bar
    img(src='/images/main-hero.jpg')
    include donation-bar.jade
  div.wrapper.container.tournament-information
    div.row
      //img(src='http://loljustice.com.br/wp-content/uploads/2015/10/koo-tigers-icon-finals.png').col-sm-12.tournament-logo
    div.row.tournament-name
      if (tournament_data["name"] == null)
        h2 Unnamed Tournament (#{tournament_data["region"].toUpperCase()})
      else
        h2 #{tournament_data["name"]} (#{tournament_data["region"].toUpperCase()})
    div.wrapper.container.tournament-details
      div.row.tournament-status
        if tournament_data["finished"]
          h2 Tournament is finished
        else
          h2 Tournament is #[span.green live]!
      div.row.tournament-pool
        h4 Prize pool
        if tournament_data["amount"] != null
          p.donation-amount $#{tournament_data["amount"]}
        else
          p.donation-amount $0.00

  script.
    var bracketData = {
      teams: !{starting_teams},
      results : !{tournament_results}
    }

    $(function() {
      $('#bracket').bracket({
        init: bracketData,
        skipConsolationRound: true /* data to initialize the bracket with */ })
    })

  div
    .row
      .col-sm-4
      .col-sm-4
        #bracket(style="transform: scale(1.5);")
      .col-sm-4

    div(style="padding-top: 100px;")
      each match in pending_matches
        .row
          .col-sm-2
          .col-sm-8.text-center
            h1 #{match.blue_team_name} vs #{match.red_team_name}
            h5 #{match.tournament_code}
            h3
              a(href='/dev/record_match/#{tournament_data.tournaments_id}/#{match.match_id}/#{match.blue_team_id}') #{match.blue_team_name} Win
            h3
              a(href='/dev/record_match/#{tournament_data.tournaments_id}/#{match.match_id}/#{match.red_team_id}') #{match.red_team_name} Win