extends layout

block link
    -var selected = 'Tournaments';

block content
    div.donation-bar
        img(src='/images/main-hero.jpg')
        include donation-bar.jade
    div.wrapper.container.tournament-information
        div.row
            //img(src='http://loljustice.com.br/wp-content/uploads/2015/10/koo-tigers-icon-finals.png').col-sm-12.tournament-logo
        div.row.tournament-name
            h2 Lorem Ipsum Cup
            p created by Team Fire
        div.wrapper.container.tournament-details
            div.row.tournament-status
                a.btn.btn-default.btn-blue(href='#') Join
                a.btn.btn-success(href='#') Donate
            div.row.tournament-start
                h4 Starts in
                p #[span#days.orange 1] days #[span#hours.orange 9] hours #[span#minutes.orange 15] minutes #[span#seconds.orange 32] seconds
            div.row.tournament-pool
                h4 Prize pool
                p.donation-amount $186.90
            .row.tournament-standings
                h3 live standings
            .row.grid-headers
                h4.col-sm-4 Name
                h4.col-sm-4 Avg. Division
                h4.col-sm-4 Fighting For
            .row.tournament-team-entry
                .col-sm-4
                    img(src='#')
                    | KOO Tigers
                .col-sm-4
                    img(src='/images/leagues/diamond.png')
                    | &nbsp;Diamond
                .col-sm-4
                    span Charity Water
            .row.tournament-team-entry
                .col-sm-4
                    img(src='#')
                    | SK Telecom T1
                .col-sm-4
                    img(src='/images/leagues/platinum.png')
                    | &nbsp;Platinum
                .col-sm-4
                    span Children's Miracle Network
            .row.tournament-team-entry
                .col-sm-4 open entry
            .row.tournament-team-entry
                .col-sm-4 open entry
    script(src='/scripts/matchmaking.js')