extends layout

block link
    -var selected = 'Tournaments';

block content
    div.donation-bar
        img(src='/images/main-hero.jpg')
        include donation-bar.jade
    div.wrapper.container.tournament-browse.center
        div.row.tournament-browse-name
            img(src='/images/heart_cup.png')
            h2 Browse Tournaments
        .row.grid-headers
            h4.col-sm-2 Name
            h4.col-sm-2 Region
            h4.col-sm-2 Teams
            h4.col-sm-2 Date
            h4.col-sm-2 Payout
            h4.col-sm-2 Actions
        each tournament in tournaments_array
          .row.tournament-browse-entry
                .col-sm-2
                  b #{tournament.name}
                .col-sm-2 #{tournament.region.toUpperCase()}
                .col-sm-2 #{tournament.num_teams}
                .col-sm-2 #{tournament.start_date.getFullYear()}/#{tournament.start_date.getMonth() + 1}/#{tournament.start_date.getDate()}
                .col-sm-2 Split Pot
                .col-sm-2
                    a(href='/tournament/#{tournament.id}').btn.btn-default.btn-blue.btn-sm View
                    if !tournament.finished
                      span   
                      a(href='#', data-toggle="modal", data-target="#donateModal").btn.btn-success.btn-sm Donate
