extends layout

block link
    -var selected = 'Tournaments';

block content
	div.donation-bar
        img(src='/images/main-hero.jpg')
		include donation-bar.jade
	div.wrapper.container.tournament-browse.center
		div.row.tournament-browse-name
			img(src='#')
			h2 Browse Tournaments
		.row.grid-headers
			h4.col-sm-2 Name
			h4.col-sm-2 Region
			h4.col-sm-2 Teams
			h4.col-sm-2 Date
			h4.col-sm-2 Payout
			h4.col-sm-2 Actions
		.row.tournament-browse-entry
				.col-sm-2 Lorem Ipsum
				.col-sm-2 EUW
				.col-sm-2 8
				.col-sm-2 11/14/2015
				.col-sm-2 Split Pot
				.col-sm-2
					a(href='#').btn.btn-success.btn-sm Donate
					a(href='#').btn.btn-default.btn-blue.btn-sm Join