@font-face {
    font-family: 'vcr_osd_monoregular';
    src: url('/fonts/vcr_osd_mono_1.001-webfont.eot');
    src: url('/fonts/vcr_osd_mono_1.001-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/vcr_osd_mono_1.001-webfont.woff2') format('woff2'),
         url('/fonts/vcr_osd_mono_1.001-webfont.woff') format('woff'),
         url('/fonts/vcr_osd_mono_1.001-webfont.ttf') format('truetype'),
         url('/fonts/vcr_osd_mono_1.001-webfont.svg#vcr_osd_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  padding: 50px 0;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font: 14px "vcr_osd_monoregular", Helvetica, Arial, sans-serif;
}

h1 {
  color: #F06668;
}

a {
  color: #00B7FF;
}

.container {
  width: 70%;
  margin: 0 auto;
  color: #777;
}

.wrapper {
  
}

.orange {
  color: #F06668;
}

.btn-orange {
    border: 1px solid #F06668;
    background-color: #F06668;
    color: white;
    margin-top: 8px;
}

.btn-orange:hover {
    color: white;
    background-color: #d74d4f
}

.btn-orange:focus {
    background-color: #F06668;
    color: white;
}

.green {
  color: #4CAF50;
}

.subhead {
  font-size: 12px;
}

.center {
  text-align: center;
}

.row {
  margin: 0;
}

.hero {
  height: 400px;
  overflow: hidden;
  position: relative;
}

.blur {
  height: 80px;
  width: 100%;
  position: absolute;
}

.hero .blur {
  bottom: 0;
}

.donation-bar {
    position: relative;
  height: 80px;
    padding-bottom: 20px;
    overflow: hidden;
}

.donation-bar img {
    position: absolute;
    bottom: -290px;
    width: 100%;
}

.organization {
  height: 550px;
  overflow: hidden;
  position: relative;
}

.organization .blur {
  top: 0;
}

.org-funds {
  -webkit-backdrop-filter: blur(10px);
  background: rgba(200,200,200,0.5);
  width: 40%;
  position: relative;
  bottom: 150px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.org-funds .donation-total {
  text-align: center;
}

.org-funds .donation-amount {
  font-size: 40px;
    line-height: 10px;
}

.org-funds>img {
  width: 100%;
  padding: 5px 5%;
}

.blur>div {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.blur>div>a {
  margin: 20px 0;
}

.blur {
  /*background-color: rgba(0,0,0,0.5);*/
  -webkit-backdrop-filter: blur(10px);
}

.hero-image {
  width: 100%;
}

.btn {
  box-shadow: 1px 1px 2px #333
}

.btn-blue {
  background: rgba(43,152,240,1);
  color: white;
  border: 1px solid rgba(43,152,240,1);
}

.btn-blue:hover {
  background: #1085E5;
  color: white;
}

.donation-total {
  padding-top: 10px;
  color: white;
}

.main-content {
  text-align: center;
}

.nav>li {
  padding: 15px 15px;
  height: 50px;
}

.nav>li>a {
  padding: 0;
}

.navbar-default {
  background: #FFF;
}

.navbar-brand {
  padding: 12px 15px;
  line-height: 14px;
}

.navbar-right {
  border-left: 1px solid #eee;
  padding: 0 35px;
    margin-top: -6px;
  text-align: center;
  margin-right: 0;
}

.navbar-right img {
    width: 20px;
    height: 20px;
}

.navbar-right>li>a {
  width: 25px;
  float: left;
}

.donation-amount {
  color: #4CAF50;
  font-size: 50px;
}

.donation-subhead {
  font-size: 12px;
}

.navbar-header {
  padding: 0 35px;
  border-right: 1px solid #eee;
  min-width: 256px;
}

.nav-logo img {
  height: 50px;
  width: auto;
}

.navbar-default .navbar-nav>.active>a {
  background-color: #fff;
  border-bottom: 2px solid #F06668;
}

.navbar-nav>li>a {
  padding-bottom: initial;
}

/* Progress Tracker */
.how-work {
  margin: 20px 0;
  border-top: 4px solid #F06668;
}

.how-work .col:before {
  content: "";
  display: block;
  height: 25px;
  width: 25px;
  background: #F06668;
  margin: 0 auto;
  margin-top: -15px;
  border-radius: 25px;
}

.how-work img {
    margin: 10px 0;
    height: 50px;
}

/* Team */
.team-information {
    padding-top: 20px;
  text-align: center;
  width: 75%;
}

.team-logo {
  margin: 0 auto;
  height: 150px;
  width: auto;
}

.team-name {
  border-bottom: 1px solid #aaa;
}

.team-details .donation-amount {
  font-size: 30px;
  line-height: 10px;
  padding-bottom: 20px;
}

.team-details h3 {
  font-size: 16px;
  text-transform: uppercase;
}

.team-details h4 {
  color: #aaa;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 5px;
}

.img-profile {
  height: 30px;
  width: 30px;
}

.team-history {
  margin-top: 20px;
}

.tournament-history-item {
  margin: 8px 0;
}

.grid-headers {
  border-bottom: 1px solid #ddd;
}

.gold {
  color: gold;
}

.silver {
  color: silver;
}

.bronze {
  color: sandybrown;
}

/* Tournament */
.tournament-information {
  text-align: center;
}

.tournament-details .donation-amount {
  font-size: 30px;
  line-height: 10px;
  padding-bottom: 20px;
}

.tournament-details h3 {
  font-size: 16px;
  text-transform: uppercase;
}

.tournament-details h4 {
  color: #aaa;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 5px;
}

.tournament-name {
  border-bottom: 1px solid #ddd;
}
.tournament-status {
  padding: 15px 0;
}

/* Modal */

.money {
    
}

.modal-header {
	color:#fff;
    padding:9px 15px;
    border-bottom: none;
    background: rgba(241,101,101,1);
	text-align: center;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }

.modal-footer {
    border-top: none;
}

.modal-backdrop {
    display: none;
}

.modal-header-green {
	color:#fff;
    padding:9px 15px;
    border-bottom: none;
    background: rgba(76,175,80,1.0);
	text-align: center;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }

 .modal-content {
   background: rgba(209,224,236,0.6);
   -webkit-backdrop-filter: blur(25px);
     border: none;
 }

.charity-modal-footer {
	text-align: center;
}

.create-button {
	background: rgba(76,175,80,1.0);
	color: #fff;
}
/* Slider */

#moneySlider {
    width: 100%;
}

#moneySlider .slider-selection {
	background: transparent none;
}

#moneySlider .slider-handle {
}

#donate_slider {
    width: 100%;
}

#donate_slider .slider-selection {
	background: transparent none;
}

#donate_slider .slider-handle {
}

.slider-handle.custom {
/* You can customize the handle and set a background image */
background: url('../images/pixel_poro.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.slider-handle.custom::before {
line-height: 20px;
font-size: 20px;
content: ''; /*unicode star character*/
color: #726204;
}

.tooltip.bottom {
    padding: 0;
}

.tooltip-inner {
    background: none;
    color: #8DC257;
    font: 22px "vcr_osd_monoregular", Helvetica, Arial, sans-serif;
}

.tooltip-inner:before {
    content: '$'
}

.tooltip-arrow {
    display: none;
}

.slider-tick {
    display: none;
}

.slider-tick-label {
    color: gray;
}

.default-margin-left {
    margin-left: 10px;
}

.dropdown-toggle {
    min-width: 100px;
}

/* Tournament Browse */
.tournament-browse h3 {
  font-size: 16px;
  text-transform: uppercase;
}

.tournament-browse h4 {
  color: #aaa;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 5px;
}

/* Signup Form */
.signup-form {
    margin-top: 50px;
    width: 30%;
    height: 400px;
}

.signup-form-container {
    padding: 15px;
    border: 1px solid #eee;
}

.signup-form-container h3 {
    color: #4CAF50;
}

.signup-form img {
    width: 100%;
}

.signup-form-header {
    color: white;
    text-align: center;
    background-color: #F06668;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.form-group img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 0 auto;
}

.btn-form {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border-radius: 0 0 10px 10px;
}

.btn-form:hover {
    width: 100%;
    background-color: #449D44;
    color: white;
    border-radius: 0 0 10px 10px;
}

.team-create-image p {
    font-size: 10px;
}

.tournament-browse-entry {
  padding: 5px;
}

.tournament-browse-name img {
    height: 100px;
    width: auto;
    padding-top: 15px;
}

.team-roster-entry {
    padding: 10px 0;
}

.team_avatar {
  width: 30px;
  height: 30px;
  margin-top: -5px;
  float: right;
}

.team-social {
  width: 20px;
  height: 20px;
    margin: 0 3px;
}

.highscore-item {
    margin: 10px 0;
}
